:root {
  --dark-blue:#064acb;
  --light-blue: #366ed8;
  --orange: #f3a953;
  --light-gray: #f2f3f3;
  --white: #fff;
  --black: #000;

  --padding-default: 20px;
}

body, html, #root, .App {
  height: 100%;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  background: var(--light-gray);
}

.page-header {
  background: var(--light-blue);
}

.page-header__nav,
.page-header__menu {
  display: flex;
  flex-direction: row;
  background: var(--white);
}

.menu__item {
  padding: 15px var(--padding-default);
  color: var(--light-blue);
  font-size: .8em;
  cursor: pointer;
  text-transform: uppercase;
}

.menu__item--active {
  background: var(--light-blue);
  color: var(--white);
}

.page-header__title {
  margin: 0;
  padding: var(--padding-default);
  color: var(--white);
}

.document-list__filter,
.filter__input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.document-list__filter {
  padding: var(--padding-default);
  background: var(--light-blue);
  color: var(--white);
}

.filter__title {
  flex: 1;
  font-weight: bold;
}

.date-select {
  margin-left: 20px;
}

.date-select .label {
  margin-right: 10px;
}

.document-list {
  background: var(--white);
  border-top: 1px solid var(--light-gray);
}

.document-list__item, 
.document-list__header {
  display: flex;
  flex-direction: row;
  padding: 10px var(--padding-default);
}

.document-list__header {
  background: var(--light-gray);
}

.document-list__header .button {
  background: none;
  width: 100%;
  padding: 0;
  border: 0;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  opacity: .4;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.button__text {
  flex: 1;
}

.document-list__item {
  border-bottom: 1px solid var(--light-gray);
}

.item__column {
  flex: 1;
}

.sort-order {
  display: none;
  opacity: .6;
  margin-left: 10px;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

.sort-order--asc {
  display: block;
  transform: rotate(-45deg);
}

.sort-order--desc {
  display: block;
  transform: rotate(135deg);
}
